## Quant Research:

* Analysing the distribution of a stock returns
* Deriving a stock beta
* Determining correlations between two or more stocks
* Calculating rate of change
* Backtesting a strategy

While choosing portfolio, choose uncorelated stocks

Decide your strategy as per the momentum of the market.

### Backtest Moving Average Crossover on multiple Stocks

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#Fetch stock data
data = pd.read_csv('/home/rvl224/Downloads/aapl_daily_data.csv', index_col = 0, parse_dates = True)

In [5]:
#Spread it
data.head()

             Open   High    Low  Close  Adj Close      Volume
Date
2004-12-31  1.159  1.161  1.143  1.150      0.991   278588800
2005-01-03  1.157  1.163  1.118  1.130      0.973   691992000
2005-01-04  1.139  1.169  1.124  1.142      0.983  1096810400
2005-01-05  1.151  1.165  1.144  1.152      0.992   680433600
2005-01-06  1.155  1.159  1.131  1.153      0.993   705555200

####  Create Rules

In [6]:
# calculate buy and hold returns 
data['d_returns'] = data['Adj Close'].pct_change()

In [10]:
# strategy params

sma = 10
lma = 20

In [9]:
#calculate rules - moving aveages

data['sma'] = data['Adj Close'].rolling(sma).mean()
data['lma'] = data['Adj Close'].rolling(lma).mean()

####  calculate trading signals

In [12]:

data['signals'] = np.where(data['sma'] >= data['lma'], 1, -1)

In [15]:
#drop NA as it may hamper calculation

data.dropna(inplace=True)

In [16]:
# calculate strategy returns
data['s_returns'] = data['d_returns']*data['signals'].shift(1)

In [17]:
#Calculate Cumulative returns
cum_s_returns = (data['s_returns']+1).cumprod()

In [19]:
#Net returns
print('Cumulative Strategy Returns: ', round(cum_s_returns.iloc[-1] -1,3))

Cumulative Strategy Returns:  4.348

In [20]:
#visualize returns

plt.figure(figure(figsize = (13,5)))
plt.plot(cum_s_returns, label = 'strategy')

plt.title('Strategy Returns')
plt.xlabel('Returns')
plt.grid()
plt.legend()
plt.show()

NameError: name 'figure' is not defined

In [ ]:
import yfinance as yf

# define stock list

stock_list = ['FB', 'AAPL', 'AMZN', 'NFLX', 'GOOG']