# 1. Financial Data & Preprocessing

    * a. Yahoo Finance
    * b. Quandl (ended on 2018)
    * c. Intrinio
    * d. Converting Prices to returns
    * e. Changing Frequency
    * f. visualizing Time series data
    * g. Identifying Outliers
    * h. Investigating stylized facts of asset returns

### a. Getting data from Yahoo Finance

In [5]:
import pandas as pd
import yfinance as yf
import numpy as np
yf_yahoo = yf.download('AAPL', start = '2021-01-01',
                      end= '2021-06-30', progress=True, actions ='inline')
yf_yahoo

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.876999,99116600,0.0,0
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.617096,143301900,0.0,0
2021-01-05,128.889999,131.740005,128.429993,131.009995,130.207291,97664900,0.0,0
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.824326,155088000,0.0,0
2021-01-07,128.360001,131.630005,127.860001,130.919998,130.117859,109578200,0.0,0
...,...,...,...,...,...,...,...,...
2021-06-23,133.770004,134.320007,133.229996,133.699997,133.305435,60214200,0.0,0
2021-06-24,134.449997,134.639999,132.929993,133.410004,133.016281,68711000,0.0,0
2021-06-25,133.460007,133.889999,132.809998,133.110001,132.717178,70783700,0.0,0
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.382248,62111300,0.0,0
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.927673,64556100,0.0,0

### d. Converting Prices to returns

In [6]:
df = yf.download('AAPL', start = '2021-01-01', end = '2021-06-30')
df = df.loc[:, ['Adj Close']]
df.rename(columns = {'Adj Close': 'adj_close'}, inplace = True)

[*********************100%***********************]  1 of 1 completed

In [8]:
df['simple_rtn'] = df.adj_close.pct_change()
df['log_rtn'] = np.log(df.adj_close/df.adj_close.shift(1))
df

             adj_close  simple_rtn   log_rtn
Date
2020-12-31  131.876999         NaN       NaN
2021-01-04  128.617096   -0.024719 -0.025030
2021-01-05  130.207291    0.012364  0.012288
2021-01-06  125.824326   -0.033661 -0.034241
2021-01-07  130.117859    0.034123  0.033554
...                ...         ...       ...
2021-06-23  133.305435   -0.002090 -0.002092
2021-06-24  133.016281   -0.002169 -0.002171
2021-06-25  132.717178   -0.002249 -0.002251
2021-06-28  134.382248    0.012546  0.012468
2021-06-29  135.927673    0.011500  0.011435

[124 rows x 3 columns]